.#<uispace> .zbx{background:url(<#root>nej_color_btn.png) no-repeat -50px -50px;}
.#<uispace> .zinf{width:160px;margin:0 auto;padding-bottom:2px;overflow:hidden;font-size:12px;}
.#<uispace> .zinf .zfl{float:left;}
.#<uispace> .zinf .zes{width:19px;height:19px;margin:0 2px 0 3px;background-position:-22px 0;cursor:pointer;}
.#<uispace> .zinf .zpv{width:17px;height:17px;border:1px solid #bdbabd;}
.#<uispace> .zinf .ztxt{width:56px;height:13px;line-height:13px;}
.#<uispace> .zinf .zbtn{width:49px;height:20px;line-height:20px;padding:0;cursor:pointer;}