.#<uispace>{width:160px;margin:0 auto;overflow:hidden;$<user-select>:none;}
.#<uispace> .zbg{background:url(#<root>nej_color_btn.png) no-repeat -50px -50px;}
.#<uispace> .zwrp{position:relative;padding:3px;zoom:1;cursor:default;font-size:1px;}
.#<uispace> .zwrp .zdot{position:absolute;top:0;left:0;height:9px;overflow:hidden;}
.#<uispace> .zwrp .zshw{height:104px;border:1px solid #bdbabd;}
.#<uispace> .zpnl{float:left;}
.#<uispace> .zpnl .zdot{width:9px;background-position:0 0;}
.#<uispace> .zpnl .zshw{width:104px;background:url(#<root>nej_color.png) no-repeat;}
.#<uispace> .zhlt{float:right;padding:3px 7px;}
.#<uispace> .zhlt .zdot{width:44px;background-position:0 -30px;}
.#<uispace> .zhlt .zshw{width:26px;background:url(#<root>nej_color_mask.png) repeat-x;}