.#<uispace>{position:absolute;z-index:1000;border:1px solid #aaa;background:#fff;}
.#<uispace> .zbar{line-height:30px;background:#8098E7;border-bottom:1px solid #aaa;}
.#<uispace> .zcnt{padding:10px 5px;}
.#<uispace> .zttl{margin-right:20px;text-align:left;}
.#<uispace> .zcls{position:absolute;top:5px;right:0;width:20px;height:20px;line-height:20px;cursor:pointer;}
