<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>tpl测试页</title>
        <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.14.0.css" type="text/css" media="screen" />
        <script type="text/javascript" src="http://code.jquery.com/qunit/qunit-1.14.0.js"></script>
    </head>
    <body>
        <h1 id="qunit-header">Qunit tpl test</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture"></div>
		<textarea name="jst" id="jst-box">
			<div>${name}</div>
		</textarea>
		<textarea name="txt" id="txt-box">
            <div>pure text</div>
        </textarea>
		<textarea name="ntp" id="ntp-box">
            <div>ntp</div>
        </textarea>
		<textarea name="js" id="js-box" data-src='/nej-baseline/src/define.js'></textarea>
		<textarea name="css" id="css-box" data-src='/nej-baseline/qunit/base/qunit.css'></textarea>
		<textarea name="html" id="html-box" data-src='/nej-baseline/qunit/html/ui/audioTest.html'></textarea>
		<textarea name="res" id="res-box" data-src='http://pagea.xxx/'></textarea>
        <div id="item-box"></div>
        <script src="../../../define.js?pro=./"></script>
        <script type="text/javascript" src="./tpl.test.js"></script>
    </body>
</html>