.#<uispace>-parent{position:relative;}
.#<uispace>{position:absolute;top:0;left:0;border:1px solid #aaa;cursor:move;$<user-select>:none;z-index:1000;}
.#<uispace> .zln{width:48px;height:48px;border:1px solid #fff;background:url(#<blankimage>);}
.#<uispace> .zpc{border:1px solid #aaa;}
.#<uispace> .zpt{position:absolute;width:5px;height:5px;font-size:1px;overflow:hidden;}
.#<uispace> .znt{top:-1px;left:-1px;width:100%;cursor:n-resize;}
.#<uispace> .znr{top:-1px;right:-1px;height:100%;cursor:e-resize;}
.#<uispace> .znb{bottom:-1px;left:-1px;width:100%;cursor:s-resize;}
.#<uispace> .znl{top:-1px;left:-1px;height:100%;cursor:w-resize;}
.#<uispace> .zntl{top:-1px;left:-1px;cursor:nw-resize;}
.#<uispace> .zntr{top:-1px;right:-1px;cursor:ne-resize;}
.#<uispace> .znbr{bottom:-1px;right:-1px;cursor:se-resize;}
.#<uispace> .znbl{bottom:-1px;left:-1px;cursor:sw-resize;}