.#<uispace>{width:500px;border:1px solid #ddd;text-align:center;}
.#<uispace> .zbg{background:url(#<root>nej_editor.png?20131028) no-repeat 100px 100px;}
.#<uispace> .ztbar{height:30px;background-color:#eee;zoom:1;}
.#<uispace> .ztbar:after{display:block;clear:both;visibility:hidden;height:0;content:".";}
.#<uispace> .zitm{float:left;width:24px;height:24px;margin:3px 0;course:pointer;}
.#<uispace> .zitm:hover{background-position:0 0;}
.#<uispace> .zitm.js-selected{background-position:-30px 0;}
.#<uispace> .zitm .zicn{width:16px;height:16px;margin:4px auto 0;overflow:hidden;text-indent:100px;}
.#<uispace> .zitm .ztxt{display:none;}
.#<uispace> .zisp{float:left;width:10px;height:24px;margin:3px 0;background-position:-60px 0;overflow:hidden;}
.#<uispace> .zsel{float:left;position:relative;height:20px;overflow:hidden;line-height:20px;padding:0 5px;margin:4px;border:1px solid #C5C5C5;background:#fff;font-size:12px;text-align:left;cursor:pointer;}
.#<uispace> .zsel .zarw{position:absolute;top:0;right:0;width:18px;height:18px;background-position:0px -244px;}
.#<uispace> .zsel.zfs{width:60px;}
.#<uispace> .zsel.zfm{width:140px;}
.#<uispace> .zarea{height:200px;}
        .#<uispace> .zarea iframe{width:100%;height:100%;}