<div class="m-page f-cb m-page-rt">
  <div class="pagebox z-pbox">
    <a href="#" class="first pageprv"><span class="left"></span>上一页</a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#" class="last pagenxt"><span class="right"></span>下一页</a>
  </div>
  <form action="" class="z-form">
    <span class="text">共<span class="z-total">8</span>页, 到</span>
    <input type="text" class="z-ipt" name="page" />
    <span class="btn z-btn">确定</span>
  </form>
</div>