<!DOCTYPE html>
<html>
  <head>
      <title>test template</title>
      <meta charset="utf-8" />
  </head>
  <body>
    <script src="../../../define.js"></script>
    <script>
        NEJ.define([
            '../tpl.js',
            'text!./a.html'
        ],function(_l,_html){
            var _sn = _l._$addNodeTemplate(_html);
            document.body.appendChild(_l._$getNodeTemplate(_sn));
            document.body.appendChild(_l._$getNodeTemplate(_sn));
            document.body.appendChild(_l._$getNodeTemplate(_sn));
            document.body.appendChild(_l._$getNodeTemplate(_sn));
        });
    </script>
  </body>
</html>