.#<uispace>{border:1px solid #9FAC87;font-size:12px;text-align:left;}
.#<uispace> .zitm{display:block;position:relative;margin:1px;outline:none;padding:2px 0 2px 8px;border:1px solid #ddd;color:#000;background-color:#fff;text-decoration:none;}
.#<uispace> .zitm:hover{background-color:#e5e5e1;text-decoration:none;}
.#<uispace> .zitm .ztip{position:absolute;top:2px;right:5px;font-size:10px;}